extends layout

block content

   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
   script(src="/javascripts/main.js")
   script(src="/javascripts/googleMapAPIcreateEvent.js")
   script(src="/materialize/js/materialize.min.js")
   script(src="/javascripts/main.js")
   script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6Lz24NEsy8I_cDxm6vUVGXlqwNlkC2yk&libraries=places")
